<div id="headerDiv">
    <h1><a href="/posts/new">make post</a></h1>
    <h1>@ViewBag.LoggedUser.UserName</h1>
</div>

<div>
    @foreach(Post post in ViewBag.AllPosts)
    {
        <div class="postBox">
            <div class="postLikes">
                <span><a href="/posts/@post.PostId/like">👍</a></span>
                <span>@post.Likes.Count</span>
            </div>
            <div class="postBoxInfo">
                <h3><a href="@post.Link">@post.Title</a></h3>
                <p>Posted by @post.Creator.UserName</p>
                <p>on @post.CreatedAt</p>
                <p><a href="/posts/@post.PostId">@post.CommentsMade.Count comments</a> Topic:<a href="/posts/topic/@post.Topic"> @post.Topic</a></p>
            </div>
        </div>
    }
</div>